[submodule "external/rocksdb_source"]
	path = external/rocksdb_source
	url = https://github.com/facebook/rocksdb.git
[submodule "external/casablanca"]
	path = external/casablanca
	url = https://git.codeplex.com/casablanca
