[submodule "external/aquila"]
	path = external/aquila
	url = https://github.com/Aldor007/aquila.git
[submodule "external/rocksdb_source"]
	path = external/rocksdb_source
	url = https://github.com/facebook/rocksdb.git
[submodule "external/casablanca"]
	path = external/casablanca
	url = https://git.codeplex.com/casablanca
[submodule "external/rbm"]
	path = external/rbm
	url = https://github.com/Aldor007/rbm-mnist
[submodule "external/spdlog"]
	path = external/spdlog
	url = https://github.com/gabime/spdlog.git
[submodule "external/shark"]
	path = external/shark
	url = https://github.com/chrisvana/shark_copy
