# Compiled Object files
*.slo
*.lo
*.o
*.obj
*.gcno

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
external/rocksdb_source
external/casablance
/documentation
/Release
/DebugTestOld
/ReleaseTest
/.project
/.cproject
/.settings
/libs
/Debug
/DebugTest
/Debug
